.textarea {
  width: 1000px;
  min-height: 270px;
  background-color: var(--black);
  color: rgba(255, 255, 255, .9);
  font-size: 20px;
  font-family: consolas;
  letter-spacing: 1px;
  font-weight: 600;
  border: 16px solid #262626;
  outline: none;
  box-shadow: 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff;
  border-radius: 20px;
  padding: 20px 20px 10px;
  margin-bottom: 20px;
  resize: none;
  white-space: pre-wrap;
  
  @include desctops {
    width: 800px;
  }
  @include tablets {
    width: 700px;
  }
  @include phones {
    width: 550px;
  }
}

.textarea::-webkit-scrollbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10px;
  background-color: transparent;
}

.textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(224, 87, 87, 0.2);
}

.textarea::-webkit-scrollbar-track {
  box-shadow: none;
  border-radius: 10px;
  background-color: transparent;
  color: transparent;
}
