@mixin dflex($jcontent: flex-start, $a-items: stretch, $fdirection: row) {
  display: flex;
  @if $jcontent == fs {
    justify-content: flex-start;
  }
  @if $jcontent == cn {
    justify-content: center;
  }
  @if $jcontent == sb {
    justify-content: space-between;
  }
  @if $jcontent == sa {
    justify-content: space-around;
  }
  @if $jcontent == fe {
    justify-content: flex-end;
  }
  @if $a-items == st {
    align-items: stretch;
  }
  @if $a-items == cn {
    align-items: center;
  }
  @if $a-items == fs {
    align-items: flex-start;
  }
  @if $a-items == fe {
    align-items: flex-end;
  }
  flex-direction: $fdirection;
}
