html {
  --white: #FFFFFF;
  --black: #000000;
  
  --background: #232323;
  --btn-color: #CDCDCD;

  
  &[data-theme="light"] {
    --background: #fff;
    --btn-color: #292929;

  }
  &[data-theme="dark"] {
    --background: #232323;
    --btn-color: #CDCDCD;

  }
  --yellow: #F1CDB3;
  --yellow-light: #FDDCC4;
  --grey: #CDCDCD;
  --grey-back: #F6F6F6;
  --grey-dark: #B2B2B2;;
  --light: #FAFAFA;
  --dark: #545454;
  --dark-second: #292929;
  --dark-third: #4C4C4C;
  --body-back: #E5E5E5;
  --overlay-back: rgba(41, 41, 41, 0.6);
  --popup-back: rgba(41, 41, 41, 0.6);
}

$containerMaxWidth: 1200;
$containerMiddleWidth: 708;
$containerMinWidth: 300;
$maketMaxWidth: 1279;
$maketMiddleWidth: 767;
$maketMinWidth: 320;
$z-header: 10;
